<!--
Social Science workshop
-->
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	      <td>9:00 - 9:30</td>
	      <td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop Survey</a> & Software Installation</td>
      </tr>
      <tr>
        <td>9:30 - 11:30</td>
        <td><a href="https://datacarpentry.github.io/spreadsheets-socialsci/">Data Organization in Spreadsheets</a></td>
      </tr>
      <tr>
        <td>11:30 - 12:30</td>
        <td><a href="https://datacarpentry.github.io/openrefine-socialsci/">OpenRefine for Data Cleaning</a></td>
      </tr>
      <tr>
        <td>12:30 - 1:30</td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td>1:30 - 4:30</td>
        <td><a href="https://datacarpentry.org/r-socialsci/">Introduction to R</a></td>
      </tr>
      <tr>
        <td>4:30 - 5:00</td>
        <td>Questions & Discussion</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>9:00 - 12:30</td>
        <td><a href="https://datacarpentry.org/r-socialsci/">Continuation of R: Data Analysis & Visualization</a></td>
      </tr>
      <tr>
        <td>12:30 - 1:30</td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td>1:30 - 3:30</td>
        <td><a href="https://datacarpentry.org/sql-socialsci/">Data Management with SQL</a></td>
      </tr>
      <tr>
	      <td>3:30 - 4:00</td>
	      <td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td>
      </tr>
    </table>
  </div>
</div>

